body {
width:100%;
text-align: center;
letter-spacing: 2px;
font-family: 'Luckiest Guy', cursive;
}
main{
  font-family: 'Rubik', sans-serif;
}
h1 {
  font-size: 500%;
  background-color: black;
  padding-top: 10px;
  color: purple;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  letter-spacing: 4px;
}
header {
  background-color: black;
  width: 100%;
  padding-bottom: 10px;
  border-top: 4px solid purple;
}

nav {
  background-color: black;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 4px solid purple;
}
nav.row {
  margin-left: 0;
}
a{
  font-size: 30px;
  padding:15px;
  width:200px;
  color:purple;
}
a:hover {
    background-color: purple;
    color:black;
}

img {
  width: 100%;
  padding: 0 10px;
}
#random {
  padding: 20px;
}

img:hover {
  position: relative;
  transform: scale(1.05,1.05);
  margin-bottom: 10px;
    }
.favoriteInput{
  width: 100%;
  margin-bottom: 0;
  text-align: center;
}
button, input {
  outline: none;
  padding-top: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  height:40px;
  border: 2px solid purple;
  border-radius: 5px;
  letter-spacing: 2px;
}
button {
  padding: 10px;
  color: purple;
  background-color: black;
}
input {
    border: none;
    border-bottom: 2px solid purple;
    padding-left: 5px;
    border-radius: 0;
    width: 88%;
}
.search {
  width: 190px;
  border: 2px solid purple;
  border-radius: 5px;
}
button:hover {
  font-weight:bolder;
}
button:active, input:active {
  outline: yellow solid;
}
.searchImage{
  padding: 10px;
}
